* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #eef2f7;
}
.container {
  margin: 3% auto;
  width: 95%;
}
.app-body {
  margin: auto auto;
}
span {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.3rem;
  font-weight: 800;
  font-size: 18px;
}
nav {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.4rem;
}

.btn-small {
  font-size: 15px;
  padding: 1px 4px;
  letter-spacing: 0.1rem;
  background-color: rgb(235, 235, 235);
  width: 60%;
  margin: auto auto;
  border-radius: 5px;
  color: #3949ab;
  border: 1px solid #3949ab;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.btn-small:hover {
  color: rgb(214, 231, 211);
  background-color: #3949ab;
}
.card {
  background-color: rgb(225, 235, 235);
}
.card:hover {
  background-color: rgb(236, 239, 210);
  transition: transform 0.5s;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
  opacity: 0.7;
  z-index: 1;
}

article {
  margin: auto auto;
  padding: 5px;
  width: 80%;
  line-height: 5px;
}
.cartItem {
  background: #f3f1f2;
  padding: 10px;
  max-height: 150px;
}
.cartItem img {
  max-width: 150px;
  min-height: 100px;
  margin-left: 1rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0px 0px;
  overflow: hidden;
}
.cartItem .cartText {
  max-height: 100px;
  text-align: center;
  justify-content: center;
  justify-content: center;
  font-size: 10px;
  display: flex;
  margin: auto auto;
  flex-wrap: wrap;
}

.cartItem .cartItemButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartItem .cartText h4 {
  font-size: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
}
.card-title {
  max-height: 9rem;
  letter-spacing: 0.09rem;
  font-size: 20px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.cartFooter {
  position: relative;
}

.cart-total {
  width: 80%;
  margin: auto auto;
}
.cart-total h4 {
  letter-spacing: 0.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
}
.cart-total h4 span {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  margin-left: 50%;
}
.clear-btn {
  position: absolute;
  bottom: -50px;
  left: 35%;
  background: rgb(221, 238, 238);
  border: 1px solid #e60d4e;
  width: 14rem;
  border-radius: 5px;
  color: #e60d4e;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3rem;
  font-weight: 700;
  font-size: 1.1rem;
}
.clear-btn:hover {
  background: #e60d4e;
  color: rgb(221, 238, 238);
}

.remove-btn {
  background-color: aliceblue;
  color: rgb(124, 194, 54);
  border: 1.5px solid rgb(124, 194, 54);
  border-radius: 5px;
  width: 10rem;
  letter-spacing: 0.2rem;
  font-size: 1.01rem;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.remove-btn:hover {
  color: aliceblue;
  background-color: rgb(124, 194, 54);
}

.remove-btn i {
  font-size: 25px;
  margin-left: 0.7rem;
}
.cart-item {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  background-color: #eef2f7;
  padding: 0.9rem;
  box-shadow: "0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)";
}
.card {
  border-radius: 5% 5%;
  height: 380px;
  width: 350px;
  margin: 10px;
  padding: 0.6rem;
  border-radius: 1rem 1rem;
}
.card img {
  max-height: 200px;
  object-fit: cover;
  border-radius: 1rem;
  padding: 0.3rem;
  margin: auto auto;
}

.card button {
  margin-top: 2rem;
}

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
}
.homeTitle {
  font-size: 40px;
  font-weight: 900;
  font-family: "Dancing Script", cursive;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
